@{
    ViewData["Title"] = "Master Policy";
    ViewData["Caption"] = "<li class='breadcrumb-item text-muted'><a href='' class='text-muted'>Master</a></li>" +
    "<li class='breadcrumb-item text-muted'><a href='' class='text-muted'>Master Policy</a></li>";
}
@section Scripts{
    <script type="module" src="~/js/policy.js"></script>
}

<!--begin::Card-->
<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                Data Master Policy
                @*<span class="d-block text-muted pt-2 font-size-sm">Load subdatatable in modal</span>*@
            </h3>
        </div>
        <div class="card-toolbar">
            <!--begin::Button-->
            <a id="new-record" class="btn btn-primary font-weight-bolder">
                <span class="svg-icon svg-icon-md">
                    <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <circle fill="#000000" cx="9" cy="15" r="6" />
                            <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>New Record
            </a>
            <!--end::Button-->
        </div>
    </div>
    <div class="card-body">
        <!--begin: Datatable-->
        <table class="table table-bordered table-hover table-checkable" id="kt_datatable" style="margin-top: 13px !important">
            <thead>
                <tr>
                    <th width="15%">ID Policy</th>
                    <th width="40%">Nama Policy</th>
                    <th>Keterangan</th>
                    <th width="10%">Claims</th>
                    <th width="10%">Actions</th>
                </tr>
            </thead>
        </table>
        <!--end: Datatable-->
    </div>
</div>
<!--end::Card-->
<!--begin::Modal-->
<div id="kt_datatable_modal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Form Master Policy
                    <span class="d-block text-muted font-size-sm">Tambah atau edit Master Policy</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <form class="form" id="kt_form_1" method="post" enctype="application/x-www-form-urlencoded">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-form-label text-right col-lg-4 col-sm-12">Nama Policy *</label>
                        <div class="col-lg-8 col-md-9 col-sm-12">
                            <input type="text" class="form-control" name="policy_name" id="policy_name" placeholder="Masukkan nama Policy" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label text-right col-lg-4 col-sm-12">Keterangan</label>
                        <div class="col-lg-8 col-md-9 col-sm-12">
                            <textarea class="form-control" name="description" id="description" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="policy_id" id="policy_id" />
                    <button type="reset" class="btn btn-light-primary font-weight-bold text-uppercase" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary font-weight-bold mr-2" name="submitButton">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--end::Modal-->
<!--begin::Claim Modal-->
<div id="claim_modal" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Daftar Claims
                    <span class="d-block text-muted font-size-sm">Tambah atau hapus daftar claims</span>
                </h5>
                <input type="hidden" id="claim_policy_id" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-inline" id="detail_kt_form_1" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="form-group mb-2">
                        <label for="dtl_policy_id" class="sr-only">Pilih Policy</label>
                        <input type="text" readonly class="form-control" id="dtl_policy_name">
                        <input type="hidden" readonly class="form-control-plaintext" id="dtl_policy_id">
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="claim_name" class="sr-only">Pilih Claims</label>
                        <select name="dtl_claim_name" id="dtl_claim_name" class="form-control" onpaste="return false;">
                            <option value="">Silahkan Pilih</option>
                            @foreach (var obj in ViewBag.Claims)
                            {
                                <option value="@obj.claim_name">@obj.claim_name</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">
                        Simpan
                    </button>
                </form>
                <div class="separator separator-dashed" style="margin: 20px 0;"></div>
                <!--begin: Datatable-->
                <table class="table table-bordered table-hover table-checkable" id="detail_kt_datatable" style="margin-top: 13px !important">
                    <thead>
                        <tr>
                            <th width="90%">Nama Claim</th>
                            <th width="5%">Hapus</th>
                        </tr>
                    </thead>
                </table>
                <!--end: Datatable-->
            </div>
        </div>
    </div>
</div>
<!--end::Claim Modal-->